* {
  box-sizing: border-box;
}
body {
  font-family: "Rubik", monospace, sans-serif;
  width: 1440px;
  margin: auto;
}

header {
  text-align: center;
  margin-top: 5rem;
  font-size: 1.7rem;
}

h1, h2, h3, a {
  color: #002d5b;
}

h1 {
  font-weight: 400;
}

section {
  margin-top: 5rem;
}

a {
  font-weight: 700;
  text-align: center;
}


.carousel {
  display: flex;
  background-color: #edeff0;
  width: 5rem;
  height: 0.5rem;
  align-items: center;
  justify-content: space-between;
  margin: 5rem auto;
}

.dot {
  background-color: #c4e2f6;
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
}

.active {
  background-color: #014682;
}

.articles {
  display: flex;
  justify-content: center;
}

.logo {
  width: 8rem;
  justify-self: flex-start;
  align-self: center;
}

.card {
  display: grid;
  padding: 3rem;
  width: 40rem;
  height: 20rem;
  background-color: #f4f3ed;
  margin: auto;
  grid-template-rows: 1fr repeat(2, 0.5fr);
  grid-template-columns: 1fr 2.5fr;
}

.hidden {
  display: none;
}

.title {
  align-self: center;
  font-weight: 500;
}

.source {
  color: #899da3;
  grid-column: 2/3;
  margin: 0;
  justify-self: flex-start;
  font-weight: 400;
}

.link {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: right;
  font-weight: 500;
  text-decoration: none;
  height: 1.5rem;
  border-bottom: 3px solid #014682;
}


@media (max-width: 400px) {
  body {
    width: 400px;
  }

  header {
    font-size: 1.3rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 2rem;
    height: 30rem;
    align-items: center;
  }

  .hidden {
    display: none;
  }

  .source {
    align-self: flex-start;
  }

  .link {
    margin-top: 3rem;
  }

  .carousel {
    width: 10rem;
  }
}